{% extends 'sales/base_sales.html' %}

{% block title %}
    Contacts - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="bgWhite"></div>
    <div class="contactBlock">
        <div class="contactInfo">
            <div class="contactTitle">Контакты</div>
            <div class="contactSubTitle">Продажи</div>
            <div class="textSilenced">Телефон&nbsp<span class="textSo">+375 (00) 000-00-00</span></div>
            <div class="textSilenced">Email&nbsp<span class="textSo">example@example.com</span></div>
            <div class="contactSubTitle">Адрес</div>
            <div class="textSo">г. Минск, ул. Тимирязева 10</div>
            <div class="contactSubTitle">Время работы</div>
            <div class="textSo">Пн-Пт 10:00 - 21:00</div>
            <div class="textSo">Сб,Вс 10:00 - 16:00</div>
            <
        </div>
        <div class="contactForm">
            <form action="/contacts/" method="post">{% csrf_token %}
                <div class="contactTitle">Форма обратной связи</div>
                <div class="contactInputGroup">
                    <input type="text" class="contactInput mRight" placeholder="Имя" required {{ form.subject.errors }}
                            {{ form.subject }}>
                    <input type="text" class="contactInput" placeholder="Телефон">
                </div>
                <input type="email" class="contactInput" placeholder="Email" required {{ form.sender.errors }}
                        {{ form.sender }}>
                <textarea class="contactTextarea" name="" id="" cols="30" rows="6" placeholder="Текс сообщения"
                          required  >{{ form.message.errors }}
                    {{ form.message }}</textarea>
                <button class="contactBtn" type="submit">Отправить</button>
            </form>
        </div>
    </div>

{% endblock %}