{% extends 'sales/base_sales.html' %}
{% block title %}
    {{ product.title }} - {{ block.super }}
{% endblock %}

{% block content %}

    <div class="bgProduct"></div>
    <div class="productWrapper">
        <div class="blockProduct blockProductImg">
            <img src="https://borwood.by/upload/cacheResize/da3/bb3/558edfa6f569bca5a601c7ab2c54e26b.jpg"></img>
        </div>
        <div class="blockProduct blockProductContent">
            <div class="categoryProductBody">
                <div class="categoryProduct-Title blockProduct-Title">{{ product.title }}</div>
                <div class="categoryProduct-Desc">
                   {{ product.body }}
                </div>
            </div>
        </div>
    </div>
    {#    <h1 class="mt-5">#}
    {#        {{ product.title }}#}
    {#    </h1>#}
    {#    <p>#}
    {#        {{ product.body }}#}
    {#    </p>#}

{% endblock %}